//colors
$white: #fff;
$black: #000;
$text-header-color: #00baf4;
$menu-active-color: #ccc;
$box1-color: #dd9ebd;
$box2-color: #a0c695;
$box3-color: #7be0f2;
$box4-color: #ddd69e;

//fonts
$font_0: FontAwesome;

//urls
$url_0: url("../../images/bg.jpg");