//colors
$white: #fff;
$black: #000;
$text-header-color: black;
$menu-active-color: rgb(27, 26, 26);
$box1-color: #dd9ebd;
$box2-color: #a0c695;
$box3-color: #7be0f2;
$box4-color: #ddd69e;

//fonts
$font_0: FontAwesome;

//urls
$background-image: url("../../images/backgrounds/bg.png");
$menu-background-image: url("../../images/bg-menu.png");